@use "@core-styles/base/placeholders";
@use "@core-styles/base/variables";

.layout-vertical-nav,
.layout-horizontal-nav {
  ol,
  ul {
    list-style: none;
  }
}

.layout-navbar {
  @if variables.$navbar-high-emphasis-text {
    @extend %layout-navbar;
  }
}
