// ❗ Path must be relative
@forward "../../../@core-styles/template/libs/vuetify/variables";

// ℹ️ Remove above import and uncomment below to override core variables.
// @forward "../../../@core-styles/template/libs/vuetify/variables" with (
//   $<variable-name>: <variable-value>
// )
